<div id="project-form">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="">Project</h4>
  </div>

  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% modal ||= false %>
  <% remote = modal ? true : false %>

  <%= form_for(@project, remote: remote, html: {class: "project-form", role: :form, 'data-model' => 'project'}) do |f| %>
    <div class="modal-body">
      <% if @project.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

          <ul>
          <% @project.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :name, class: 'control-label' %><br>
        <%= f.text_field :name, class: 'form-control' %>
        <span class="help-block"></span>
      </div>
      <div class="form-group">
        <%= f.label :contact_person, class: 'control-label' %><br>
        <%= f.text_field :contact_person, class: 'form-control' %>
        <span class="help-block"></span>
      </div>
      <div class="form-group">
        <%= f.label :contact_number, class: 'control-label' %><br>
        <%= f.text_field :contact_number, class: 'form-control' %>
        <span class="help-block"></span>
      </div>
      <div class="form-group">
        <%= f.label :address, class: 'control-label' %><br>
        <%= f.text_field :address, class: 'form-control' %>
        <span class="help-block"></span>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <%= f.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
